.Almonds {
  background-image: url("https://freepngimg.com/thumb/almond/9-2-almond-free-png-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
}
