.App {
  text-align: center;
  position: relative;
}

.home-link {
  width: 8rem;
  height: 3rem;
  text-align: center;
  padding: 1rem 0.5rem 0.2rem;
  position: absolute;
  right: 15rem;
  top: 15rem;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(128, 128, 215);
  font-size: 1.5rem;
  color: white;
}

.home-link a {
  text-decoration: none;
  color: white;
}

.home-link:hover {
  background-color: rgb(118, 118, 215);
}
