.Chips {
  background-image: url("https://thumbs.dreamstime.com/b/potato-chips-isolated-white-background-top-view-142700398.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
}
