.navbar {
  background-color: grey;
  font-size: 1.5rem;
  padding: 0.8rem;
}
.navbar a {
  color: rgba(255, 255, 255, 0.64);
  margin: 1rem;
  text-decoration: none;
}

.navbar a.active {
  color: white;
}
