.VendingMachine {
  background-image: url("https://images.pexels.com/photos/16029615/pexels-photo-16029615.jpeg?cs=srgb&dl=pexels-kuanyu-huang-16029615.jpg&fm=jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
}

.snack-links {
  display: block;
  background-color: azure;
  width: 25vw;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  right: 5vw;
}

h3 {
  margin: 20px 10px;

  padding: 10px;
  background-color: rgb(194, 236, 236);
}

h3:hover {
  background-color: rgb(152, 209, 209);
}

h3 a {
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
}
